code {
    font-family: Monaco, Lucida Console, Terminal, Courier New, monospace;
    background-color: #EBECE4;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

pre > code {
  box-shadow: none;
  background: none;
}

.text-document pre {
    width: 100%;
    background-color: #000000;
    border-radius: 0px 0px 5px 5px;
}

.text-document code {
    color: #FFFFFF;
}

div.text-document::before {
    content: attr(title);
    text-align: left;
    font-family: Monaco, Lucida Console, Terminal, Courier New, monospace;
    font-size: 80%;
    color: #000000;
    background: #C0C0C0;
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
    display: block;
}     

.input pre, .output pre {
    width: 100%;
    background-color: #EBECE4;
}

.output pre {
    width: 100%;
    background-color: #FFFFFF;
}

p {
    text-align: left;
}

p.captioned {
    text-align: center;
}

.captioned em {
    font-size: 0.6em;
}

.ToS {
    text-align: right;
}
