img + br + em {
    font-size: 0.5em !Important;
}

.reveal section p {
    margin-top: 2em;
    margin-bottom: 1em;
}

.reveal .slides section.right-third {
    width: 50%;
    margin-left: 65vw;
}

.reveal pre code {
    max-height: 550px;
}

.input pre {
    width: 100%;
    background-color: #EBECE4;
}

.output pre {
    width: 100%;
    background-color: #FFFFFF;
}

.text-document.highlighter-rouge pre {
    background-color: #000000;
    margin: 2px auto;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}

.text-document.highlighter-rouge code {
    background-color: transparent;
    color: #FFFFFF;
}

div.text-document::before {
    content: attr(title);
    text-align: left;
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    font-size: 75%;
    color: #000000;
    background: #C0C0C0;
    padding: 8px 15px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C0C0C0;
    display: block;
}     

.reveal pre {
    font-size: 100%;
}

.reveal {
    font-size: 32px; /* for 1600 x 900 resolution */
}

p.on-white {
    background-color: rgba(255,255,255,0.75);
    border: 2px solid rgba(255,255,255,0.75);
    border-radius: 15px;
}

.reveal h2, .reveal h1 {
    text-transform: capitalize;
}

.reveal p {
    text-align: left;
}

.reveal p.captioned {
    text-align: center;
}

.reveal ol, .reveal ul {
    display: block;
    margin-left: 5%;
}
