code {
    font-family: Monaco, Lucida Console, Terminal, Courier New, monospace;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #F8F8F8;
    padding: 0 0.2em;
}

pre > code {
  box-shadow: none;
  background: none;
  padding: 0;
}

.output.message pre > code {
    color: rgb(197, 6, 11);
}

.output + .input, .output + .text-document, .text-document + .input, div.figure {
  margin-top: 1em;
}

.input pre, .text-document pre {
    overflow: auto;
    border: 1px solid #AAA;
    z-index: 0;
}

.text-document::before, .input::before {
    content: attr(title);
    font-family: Monaco, Lucida Console, Terminal, Courier New, monospace;
    color: #727272;
    background-color: #F8F8F8;
    position: relative;
    top: 1px;
    border: 1px solid #AAA;
    border-bottom: none;
    z-index: 1;
    padding: 0 0.5em;
    border-radius: 3px 3px 0 0;
    display: inline-block;
}     

.output pre {
    overflow: auto;
    background-color: #FFFFFF;
    max-height: 300px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3) inset;
}

p {
    text-align: left;
}

p.captioned {
    text-align: center;
}

.captioned em {
    font-size: 0.6em;
}

.html-widget {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
}

.ToS {
    text-align: right;
}